@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');

:root {
    --font-family: "Inter", sans-serif;
    --primary-color: #fff;
    --secondary-color: #94a3b8;
    --anchor-color: #7a7a7a;
    --subtitle-color: #64748b;
    --blue-color: #007bff;
    --btn-gradient: linear-gradient(90deg, #0EA5E9 0%, #2563EB 100%);
    --btn-color: #1E293B;
    --card-bg: #111113;
    --hover-bg: linear-gradient(315deg, #111113 0%, #0f1a1d 100%);
    --tag-bg: rgba(45, 212, 191, 0.1);
    --card-border: #1c1c1f;
    --card-hover: #0088A3;
    --heading-hover: #22d3ee;
    --common-shadow: 0px 10px 20px -5px rgba(0, 163, 177, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: var(--font-family);
    color: var(--primary-color);
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--anchor-color);
}

h1, h2, h3, h4, h5, h6, a, p, span, ul, ol {
    margin: 0;
    padding: 0;
}

a.login_btn {
    position: fixed;
    top: 50%;
    background: var(--tag-bg);
    color: var(--primary-color);
}

ul,ol {
    list-style: none;
}

iconify-icon {
    vertical-align: middle;
}

html {
    scroll-behavior: smooth;
}

aside {
    max-width: 350px;
    background: var(--card-bg);
    height: 100vh;
    border-right: 0.5px solid #2D2D30;
    position: relative;
}

aside h1 {
    font-size: 28px;
    background: var(--btn-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 24px 20px;
    font-weight: 700;
}

aside hr {
    margin: 0;
    color: #2D2D30;
}

aside ul {
    padding: 20px;
}

aside ul li {
    padding: 12px 0;
    margin: 8px 0;
    background: transparent;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: .25s;
}

aside ul li:hover {
    background: #1E1E20;
}

aside ul li.active {
    border: 1px solid var(--heading-hover);
    background: var(--tag-bg);
}

aside ul li:hover a {
    color: var(--primary-color);
}

aside ul li a {
    margin-left: 14px;
}

aside ul li:hover a {
    color: var(--primary-color);
}

aside ul li.active a {
    color: var(--heading-hover);
}

aside ul li a iconify-icon {
    margin-right: 8px;
    font-size: 20px;
}

main,
nav {
    background: var(--card-bg);
    width: calc(100% - 350px);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    padding: 16px 20px;
    border-bottom: 1px solid #2D2D30;
}

main {
    position: inherit;
    top: 0;
    right: 0;
}

.image-wrapper {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--heading-hover);
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
}

nav .welcome {
    margin-right: 16px;
}

nav .welcome p {
    font-size: 14px;
    color: var(--anchor-color);
    margin-bottom: 6px;
}
nav .welcome h5 {
    font-size: 20px;
}